<h1>{{title}}</h1>
<table>
<th>Colors</th>
<th>Tubes</th>
<th (click)="_solveProblem()">Solution</th>
<tr>
<td class="colors">
<div *ngFor="let colorCounter of colors$ | async" (click)="_clickColor(colorCounter)">
    <color-counter [colorCounter]="colorCounter"></color-counter>
</div>
</td>
<td class="tubes">
    <div *ngFor="let tube of tubes$ | async">
        <tube [tube]="tube"></tube>
    </div>
</td>
<td class="solution">
    <div *ngFor="let move of moves$ | async">
        <move [move]="move"></move>
    </div>
</td>
</tr>
</table>