*, *:before, *:after
  -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
          box-sizing: border-box
  font-size: 1em

h1
  font-size: 1.5em
  font-weight: bold
  text-align: center
  background-color: #0b3097
  color: #fff
  margin: 0em

.outerbox
  margin: 0.2em 0em 0em 0em
  padding: 0.2em 0em 0em 0em
  border-width: 0.1em
  margin: 0em
.outerbox div
  margin: 0em
  padding: 0.1em
  background-color: #ddddff
.outerbox div.header
  font-size: 1.2em
  font-weight: bold
  background-color: #000
  color: #fff

.levels
  height: 5.1em
.levels div
  float: left
  margin: 0.1em
  padding: 0em

.colors
  height: 6.9em
  margin: 0em
  padding: 0em
  background-color: #ddddff
.colors div
  float: left
  margin: 0.1em
  padding: 0em

.tubes
  height: 20.6em
  margin: 0em
  padding: 0em
  background-color: #ddddff
.tubes div
  float: left
  margin: 0.1em
  padding: 0em

.yourMoves
  background-color: rgb(205, 249, 251)
  margin: 0em
  padding: 0em
  display: inline-block
.yourMoves div
  float: left
  margin: 0.1em
  padding: 0em

.solutionMoves
  background-color: rgb(234, 251, 205)
  margin: 0em
  padding: 0em
  display: inline-block
.solutionMoves div
  float: left
  margin: 0.1em
  padding: 0em
