.colors
  background-color: #ddddff
  width: 301px
  height: 101px

.tubes
  background-color: #ffdddd
  width: 355px
  height: 348px
  margin: 5px
  padding: auto
  font-size: 1.5em
  font-weight: bold
  float: left
  text-align: center

.solution
  background-color: rgb(234, 251, 205)
  width: 561px
  height: 101px
